In [67]:
import pandas as pd

In [68]:
data=pd.read_csv("C://Users//user//Downloads//data.csv")

In [69]:
data.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [70]:
data.shape

(11914, 16)

In [71]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11914 entries, 0 to 11913
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Make               11914 non-null  object
 1   Model              11914 non-null  object
 2   Year               11914 non-null  int64
 3   Engine Fuel Type   11911 non-null  object
 4   Engine HP          11845 non-null  float64
 5   Engine Cylinders   11884 non-null  float64
 6   Transmission Type  11914 non-null  object
 7   Driven_Wheels      11914 non-null  object
 8   Number of Doors    11908 non-null  float64
 9   Market Category    8172 non-null   object
 10  Vehicle Size       11914 non-null  object
 11  Vehicle Style      11914 non-null  object
 12  highway MPG        11914 non-null  int64
 13  city mpg           11914 non-null  int64
 14  Popularity         11914 non-null  int64
 15  MSRP               11914 non-null  int64
dtypes: float64(3), int64(5), object(8)
memory usage: 1.5+ MB

## dealing with duplicates

In [72]:
data.duplicated().sum()

715

In [73]:
data.duplicated().value_counts()

False    11199
True       715
Name: count, dtype: int64

In [74]:
data1=data.drop_duplicates()

In [75]:
data1.shape

(11199, 16)

## dealing with null values

In [76]:
data1.isnull().sum()

Make                    0
Model                   0
Year                    0
Engine Fuel Type        3
Engine HP              69
Engine Cylinders       30
Transmission Type       0
Driven_Wheels           0
Number of Doors         6
Market Category      3376
Vehicle Size            0
Vehicle Style           0
highway MPG             0
city mpg                0
Popularity              0
MSRP                    0
dtype: int64

In [77]:
data1.isnull().sum()/len(data)*100

Make                  0.000000
Model                 0.000000
Year                  0.000000
Engine Fuel Type      0.025180
Engine HP             0.579151
Engine Cylinders      0.251805
Transmission Type     0.000000
Driven_Wheels         0.000000
Number of Doors       0.050361
Market Category      28.336411
Vehicle Size          0.000000
Vehicle Style         0.000000
highway MPG           0.000000
city mpg              0.000000
Popularity            0.000000
MSRP                  0.000000
dtype: float64

In [78]:
data1["Market Category"] =data1["Market Category"].fillna(data1["Market Category"].mode()[0])

C:\Users\user\AppData\Local\Temp\ipykernel_13976\4027499389.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1["Market Category"] =data1["Market Category"].fillna(data1["Market Category"].mode()[0])

In [79]:
data1["Engine Cylinders"] =data1["Engine Cylinders"].fillna(data1["Engine Cylinders"].mode()[0])

C:\Users\user\AppData\Local\Temp\ipykernel_13976\744114377.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1["Engine Cylinders"] =data1["Engine Cylinders"].fillna(data1["Engine Cylinders"].mode()[0])

In [80]:
data1["Number of Doors"] =data1["Number of Doors"].fillna(data1["Number of Doors"].mode()[0])

C:\Users\user\AppData\Local\Temp\ipykernel_13976\4170892581.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1["Number of Doors"] =data1["Number of Doors"].fillna(data1["Number of Doors"].mode()[0])

In [81]:
data1["Engine Fuel Type"] =data1["Engine Fuel Type"].fillna(data1["Engine Fuel Type"].mode()[0])

C:\Users\user\AppData\Local\Temp\ipykernel_13976\3266035407.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1["Engine Fuel Type"] =data1["Engine Fuel Type"].fillna(data1["Engine Fuel Type"].mode()[0])

In [82]:
data1["Engine HP"] =data1["Engine HP"].fillna(data1["Engine HP"].median())

C:\Users\user\AppData\Local\Temp\ipykernel_13976\2250829759.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1["Engine HP"] =data1["Engine HP"].fillna(data1["Engine HP"].median())

In [83]:
data1.isnull().sum()

Make                 0
Model                0
Year                 0
Engine Fuel Type     0
Engine HP            0
Engine Cylinders     0
Transmission Type    0
Driven_Wheels        0
Number of Doors      0
Market Category      0
Vehicle Size         0
Vehicle Style        0
highway MPG          0
city mpg             0
Popularity           0
MSRP                 0
dtype: int64

In [84]:
data1.describe()

,Year,Engine HP,Engine Cylinders,Number of Doors,highway MPG,city mpg,Popularity,MSRP
count,11199.000000,11199.000000,11199.000000,11199.000000,11199.000000,11199.000000,11199.000000,1.119900e+04
mean,2010.714528,253.300205,5.661488,3.454416,26.610590,19.731851,1558.483347,4.192593e+04
std,7.228211,109.816822,1.796677,0.872804,8.977641,9.177555,1445.668872,6.153505e+04
min,1990.000000,55.000000,0.000000,2.000000,12.000000,7.000000,2.000000,2.000000e+03
25%,2007.000000,172.000000,4.000000,2.000000,22.000000,16.000000,549.000000,2.159950e+04
50%,2015.000000,239.000000,6.000000,4.000000,25.000000,18.000000,1385.000000,3.067500e+04
75%,2016.000000,303.000000,6.000000,4.000000,30.000000,22.000000,2009.000000,4.303250e+04
max,2017.000000,1001.000000,16.000000,4.000000,354.000000,137.000000,5657.000000,2.065902e+06

In [85]:
upper_limit=data1["Engine HP"].quantile(0.95)
upper_limit

464.3000000000011

In [86]:
lower_limit=data1["Engine HP"].quantile(0.5)
lower_limit

239.0

In [87]:
import numpy as np
data1["Engine HP"]=np.where(data1["Engine HP"]>=upper_limit,
                        upper_limit,
                        np.where(data1["Engine HP"]<=lower_limit,
                        lower_limit,
                        data1["Engine HP"]))

C:\Users\user\AppData\Local\Temp\ipykernel_13976\772070657.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1["Engine HP"]=np.where(data1["Engine HP"]>=upper_limit,

In [88]:
data1.shape

(11199, 16)

In [89]:
data1.shape

(11199, 16)

In [90]:
upper_limit=data1["highway MPG"].quantile(0.95)
upper_limit
lower_limit=data1["highway MPG"].quantile(0.5)
lower_limit
import numpy as np
data1["highway MPG"]=np.where(data1["highway MPG"]>=upper_limit,
                        upper_limit,
                        np.where(data1["highway MPG"]<=lower_limit,
                        lower_limit,
                        data1["highway MPG"]))

C:\Users\user\AppData\Local\Temp\ipykernel_13976\3713938875.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1["highway MPG"]=np.where(data1["highway MPG"]>=upper_limit,

In [91]:
upper_limit=data1["city mpg"].quantile(0.95)
upper_limit
lower_limit=data1["city mpg"].quantile(0.5)
lower_limit
import numpy as np
data1["city mpg"]=np.where(data1["city mpg"]>=upper_limit,
                        upper_limit,
                        np.where(data1["city mpg"]<=lower_limit,
                        lower_limit,
                        data1["city mpg"]))

C:\Users\user\AppData\Local\Temp\ipykernel_13976\3223809728.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1["city mpg"]=np.where(data1["city mpg"]>=upper_limit,

In [92]:
upper_limit=data1["Popularity"].quantile(0.95)
upper_limit
lower_limit=data1["Popularity"].quantile(0.5)
lower_limit
import numpy as np
data1["Popularity"]=np.where(data1["Popularity"]>=upper_limit,
                        upper_limit,
                        np.where(data1["Popularity"]<=lower_limit,
                        lower_limit,
                        data1["Popularity"]))

C:\Users\user\AppData\Local\Temp\ipykernel_13976\338068878.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1["Popularity"]=np.where(data1["Popularity"]>=upper_limit,

In [93]:
upper_limit=data1["MSRP"].quantile(0.95)
upper_limit
lower_limit=data1["MSRP"].quantile(0.5)
lower_limit
import numpy as np
data1["MSRP"]=np.where(data1["MSRP"]>=upper_limit,
                        upper_limit,
                        np.where(data1["MSRP"]<=lower_limit,
                        lower_limit,
                        data1["MSRP"]))

C:\Users\user\AppData\Local\Temp\ipykernel_13976\3473180859.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1["MSRP"]=np.where(data1["MSRP"]>=upper_limit,

In [94]:
data1.duplicated().sum()

2215

In [95]:
data1=data1.drop_duplicates()

In [96]:
data1.shape

(8984, 16)

In [97]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8984 entries, 0 to 11913
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Make               8984 non-null   object
 1   Model              8984 non-null   object
 2   Year               8984 non-null   int64
 3   Engine Fuel Type   8984 non-null   object
 4   Engine HP          8984 non-null   float64
 5   Engine Cylinders   8984 non-null   float64
 6   Transmission Type  8984 non-null   object
 7   Driven_Wheels      8984 non-null   object
 8   Number of Doors    8984 non-null   float64
 9   Market Category    8984 non-null   object
 10  Vehicle Size       8984 non-null   object
 11  Vehicle Style      8984 non-null   object
 12  highway MPG        8984 non-null   float64
 13  city mpg           8984 non-null   float64
 14  Popularity         8984 non-null   float64
 15  MSRP               8984 non-null   float64
dtypes: float64(7), int64(1), object(8)
memory usage: 1.2+ MB

## encoding

In [98]:
!pip install feature_engine -q
from feature_engine.encoding import MeanEncoder
data2 = data1.copy()
col=["Make","Model","Engine Fuel Type","Transmission Type","Driven_Wheels","Market Category","Vehicle Size","Vehicle Style"]
encoder=MeanEncoder(variables=col)
data2[col]=encoder.fit_transform(data1[col],data1['MSRP'])
data2.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,61234.467085,46135.000000,2011,68971.313392,335.0,6.0,40171.941028,50695.818703,2.0,76717.416268,41037.010413,58472.336946,26.0,19.0,3916.0,46135.0
1,61234.467085,38358.333333,2011,68971.313392,300.0,6.0,40171.941028,50695.818703,2.0,50163.141321,41037.010413,62771.694992,28.0,19.0,3916.0,40650.0
2,61234.467085,38358.333333,2011,68971.313392,300.0,6.0,40171.941028,50695.818703,2.0,76932.628205,41037.010413,58472.336946,28.0,20.0,3916.0,36350.0
3,61234.467085,38358.333333,2011,68971.313392,239.0,6.0,40171.941028,50695.818703,2.0,50163.141321,41037.010413,58472.336946,28.0,18.0,3916.0,30675.0
4,61234.467085,38358.333333,2011,68971.313392,239.0,6.0,40171.941028,50695.818703,2.0,41033.342711,41037.010413,62771.694992,28.0,18.0,3916.0,34500.0

In [99]:
data2.Year.unique()

array([2011, 2012, 2013, 1992, 1993, 1994, 2017, 1991, 2016, 1990, 2015,
       1996, 1997, 1998, 2014, 1999, 2002, 2003, 2004, 1995, 2007, 2008,
       2009, 2001, 2010, 2000, 2005, 2006], dtype=int64)

## scaling

In [100]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
data3=scaler.fit_transform(data2)
data3=pd.DataFrame(data3)
data3.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,1.011873,0.104375,0.032992,1.796727,0.655611,0.087883,-0.726935,0.823491,-1.655071,1.783658,-0.732686,1.588692,-0.401984,-0.303876,1.647891,0.101620
1,1.011873,-0.266227,0.032992,1.796727,0.141483,0.087883,-0.726935,0.823491,-1.655071,0.338434,-0.732686,2.058858,0.137921,-0.303876,1.647891,-0.152872
2,1.011873,-0.266227,0.032992,1.796727,0.141483,0.087883,-0.726935,0.823491,-1.655071,1.795371,-0.732686,1.588692,0.137921,0.019816,1.647891,-0.352383
3,1.011873,-0.266227,0.032992,1.796727,-0.754569,0.087883,-0.726935,0.823491,-1.655071,0.338434,-0.732686,1.588692,0.137921,-0.627568,1.647891,-0.615691
4,1.011873,-0.266227,0.032992,1.796727,-0.754569,0.087883,-0.726935,0.823491,-1.655071,-0.158457,-0.732686,2.058858,0.137921,-0.627568,1.647891,-0.438219

In [101]:
data3.describe()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
count,8.984000e+03,8.984000e+03,8.984000e+03,8.984000e+03,8.984000e+03,8.984000e+03,8.984000e+03,8.984000e+03,8.984000e+03,8.984000e+03,8.984000e+03,8.984000e+03,8.984000e+03,8.984000e+03,8.984000e+03,8.984000e+03
mean,-3.133933e-17,-5.061747e-17,-1.301502e-14,4.587208e-17,-1.423616e-16,5.378106e-17,6.327184e-18,5.694465e-17,-1.012349e-16,-7.592621e-17,-5.219927e-17,8.858057e-17,-3.543223e-16,-9.016237e-17,4.745388e-17,-3.163592e-17
std,1.000056e+00,1.000056e+00,1.000056e+00,1.000056e+00,1.000056e+00,1.000056e+00,1.000056e+00,1.000056e+00,1.000056e+00,1.000056e+00,1.000056e+00,1.000056e+00,1.000056e+00,1.000056e+00,1.000056e+00,1.000056e+00
min,-7.761757e-01,-6.323805e-01,-2.805314e+00,-9.526791e-01,-7.545686e-01,-3.227191e+00,-2.556750e+00,-1.326422e+00,-1.655071e+00,-7.222131e-01,-7.326860e-01,-1.451151e+00,-6.719359e-01,-6.275679e-01,-5.176588e-01,-6.156906e-01
25%,-5.064148e-01,-6.323805e-01,-5.076376e-01,-6.733444e-01,-7.545686e-01,-1.017142e+00,-7.333988e-02,-1.326422e+00,-1.655071e+00,-5.790803e-01,-7.326860e-01,-9.341245e-01,-6.719359e-01,-6.275679e-01,-5.176588e-01,-6.156906e-01
50%,-4.299105e-01,-3.871308e-01,5.736217e-01,-6.733444e-01,-4.460918e-01,8.788291e-02,-7.333988e-02,8.234912e-01,6.307336e-01,-4.210748e-01,-4.762042e-01,1.173620e-02,-6.719359e-01,-6.275679e-01,-5.176588e-01,-4.479624e-01
75%,8.450020e-02,5.910191e-02,7.087791e-01,2.169531e-02,3.912022e-01,8.788291e-02,-7.333988e-02,8.234912e-01,6.307336e-01,1.356406e-01,1.647705e+00,9.059642e-02,4.078731e-01,3.435086e-01,1.624212e-02,1.190772e-01
max,3.987011e+00,3.246545e+00,8.439365e-01,4.119065e+00,2.554946e+00,5.613006e+00,4.117437e+00,9.176961e-01,6.307336e-01,3.707732e+00,1.647705e+00,2.058858e+00,2.837443e+00,2.933046e+00,3.137509e+00,3.160862e+00

## linear regression

In [102]:
from sklearn.model_selection import train_test_split
x=data3.drop(columns=[15])
y=data3[15]
Xtrain,xtest,Ytrain,ytest=train_test_split(x,y,test_size=0.25,random_state= 1)
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(Xtrain,Ytrain)
print("Intercept:",regressor.intercept_)
print("Coefficients",regressor.coef_)
y_pred = regressor.predict(xtest)
from sklearn.metrics import mean_squared_error
mse=mean_squared_error
accuracy_mse=mse(y_pred,ytest)
accuracy_mse
regressor.score(xtest,ytest)
from sklearn.metrics import r2_score
a=r2_score
accuracy = a(y_pred,ytest)
accuracy

Intercept: 0.00041614409949985044
Coefficients [ 8.66069053e-04  8.11570229e-01 -1.64758699e-02  9.55599297e-04
  1.49904067e-01 -1.48196742e-02  7.77540000e-03 -1.00253222e-02
  1.86762801e-02  7.96335107e-02 -9.53712434e-03  8.21109563e-04
 -3.56212876e-02  4.32841211e-02 -9.02730017e-05]

0.9505256380144669